/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/logs/*
/storage/framework/cache/*
/storage/framework/views/*
/database
/.idea
/storage/app/public/products
/database-storage/
/redis-storage/
/proxy/docker-compose.yml
/vendor
.package-lock.json
.env
.local.env
.stg.env
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
.vscode/branch-timer.json
